<?xml version="1.0" encoding="UTF-8"?>
<Patient xmlns="http://www.example.org/Patient"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://www.example.org/Patient patient.xsd">
	<Name>Max Mustermann</Name>
	<Gender>m</Gender>
	<Age>72</Age>
	<Height>176</Height>
	<Weight>71</Weight>
</Patient>